
VisualDataCenter/.vs/VisualDataCenter/v15/Server/sqlite3/storage.ide-wal
VisualDataCenter/.vs/VisualDataCenter/v15/Server/sqlite3/storage.ide-shm
VisualDataCenter/.vs/VisualDataCenter/v15/Server/sqlite3/storage.ide
VisualDataCenter/.vs/VisualDataCenter/v15/.suo
VisualDataCenter/.vs/VisualDataCenter/v15/.suo
